* {
  box-sizing : border-box
}

body {
  margin: 0;
}

.App h1 {
  border: 2px solid black;
  margin: 10px 500px;
  white-space: nowrap;
}

.nav {
  background-color: white;
  color: #333;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  padding: 0 1rem;
}

.nav ul {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  gap: 1rem;
}

.nav a {
  color: inherit;
  text-decoration: none;
  height: 100%;
  display: flex;
  align-items: stretch;
  padding: .25rem;
}

.nav li.active {
  text-decoration: underline;
}

.nav li:hover{
  text-decoration: underline;
}